.status-service {
  background-color: white;
  align-items: center;
}
.status-service h2 {
  text-align: center;
  color: #D29150;
  font-weight: bold;
  font-size: 64px;
}
.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.divider {
  flex: 0 0 15%;
  border: 3px solid #FE9328;
  margin: 0 5px;
}
.paw-print {
  width: 90px; /* Kích thước chân mèo */
  height: auto;
}
.progress-container {
  background-color: #FFF7EF;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}
.back-progress {
  width: 20px;
  height: 20px;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.info-table th,
.info-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.info-table th {
  background-color: #D9D9D9;
}
.container {
  padding: 0;
}