.bg-white {
  background-color: #ffffff;
}

.max-w-2xl {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; */
}
.arrow-icon {
  width: 20px;
  height: auto;
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.w-48 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.w-12 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.ml-4 {
  margin-left: 60px;
}

.flex-grow {
  flex-grow: 1;
}

.text-xl {
  font-size: 30px;
  font-weight: 600;
}

.text-yellow-500 {
  color: #fbbf24;
}

.text-gray-400 {
  color: #d1d5db;
}

.border {
  border: 1px solid #d1d5db;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rounded {
  border-radius: 0.375rem;
}

.bg-orange-400 {
  background-color: #FFCC99;
  width: fit-content;
  font-size: 24px;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.mt-4 {
  margin-top: 1rem;
}

.text-sm {
  font-size: 16px;
}

.text-gray-700 {
  color: #000000;
}
.weight-button {
  border: 1px solid #d1d5db;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s;
  margin-right: 10px;
  width: fit-content;
}
.weight-button:hover {
  background-color: #f0f0f0;
}
.flex{
  display: flex;
}
.flex-col {
  flex-direction: column; /* Căn dọc */
}
.justify-between {
  justify-content: space-between; /* Căn giữa các phần tử */
}
.items-center {
  align-items: center; /* Căn thẳng hàng theo chiều dọc */
}
.custom-space {
  margin-left: 20px; /* Khoảng cách bên trái */
}

.flex > img:first-child {
  margin-left: 0; /* Không có khoảng cách cho ảnh đầu tiên */
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}