/* SpaServices.css */
.spa-services-container {
  text-align: center;
  padding: 20px;
  background-color: #FFFFFF;
}

.services {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%; /* Điều chỉnh kích thước của các card */
  display: flex;
  flex-direction: column; /* Đặt chiều dọc cho card */
  align-items: center; /* Căn giữa các phần tử trong card */
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.spa-services-container h2 {
  font-size: 64px;
  color: #D29150;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: black;
  margin-top: 10px;

}

p {
  color: black;
  margin: 5px 0;
}
.price-container {
  display: flex;
  justify-content: center; /* Căn giữa giá */
  align-items: center; /* Căn giữa chiều dọc */
}